<% layout("/layouts/boil") %>
  <%=success%>

    <style>
      #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      #filter {
        margin-right: 1.5rem;
        text-align: center;
        margin-top: 2rem;
        opacity: 0.7;
        /* font-size: 0.9rem; */
      }

      #filter:hover {
        opacity: 1.5;
        cursor: pointer;
      }

      .toggle-switch{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.5rem;
        padding: 1rem;
        margin-left: 5rem;
        display: flex;
        align-items: center;
      }
      .taxInfo{
        display: none;
        
      }
    </style>
    <div id="filters">
      <div id="filter">
        <div>
          <i class="fa-solid fa-fire"></i>
        </div>
        <p>
          Trending
        </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-bed"></i>
        </div>
        <p>
          Bed </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-water"></i>
        </div>
        <p>
          Lake
        </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-restroom"></i>
        </div>
        <p>
          Rest Room
        </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-brands fa-fort-awesome"></i>
        </div>
        <p>
          Castle </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-brands fa-fort-awesome"></i>
        </div>
        <p>
          Mountain
        </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-cow"></i>
        </div>
        <p>
          Cow
        </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-brands fa-artstation"></i>
        </div>
        <p>
         Art</p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-umbrella-beach"></i>
        </div>
        <p>
          Breach
        </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-ice-cream"></i>
        </div>
        <p>
          Ice
          </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-city"></i>
        </div>
        <p>
          City </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-tower-cell"></i>
        </div>
        <p>
          Town
        </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-city"></i>
        </div>
        <p>
          City </p>
      </div>
      <div id="filter">
        <div>
          <i class="fa-solid fa-tower-cell"></i>
        </div>
        <p>
          Town
        </p>
      </div>

      <div class="toggle-switch">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Taxes AfterAll Charges</label>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col listing-card">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="Lisitng_img" style="height: 20rem;" />


            <div class="card-img-overlay">

            </div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b>
                <br>
                &#8377 <%=listing.price%>/night
                <i class="taxInfo">&nbsp;+GST 18%</i>
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>

    <script> 

      let taxSwtich = document.getElementById("flexSwitchCheckDefault");

      taxSwtich.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("taxInfo");
        for(info of taxInfo){
          if(info.style.display != "inline"){
            info.style.display = "inline";
          }
          else{
            info.style.display = "none";
          }
        }
        
      })
    </script>